export KUBECONFIG=
export SECRETS_email=
export SECRETS_db_host=
export SECRETS_db_user=
export SECRETS_db_name=
export SECRETS_db_pass=
export SECRETS_redis_host=
export SECRETS_cache_redis_host=
export SECRETS_otp_secret=
export SECRETS_secret_key_base=
export SECRETS_vapid_private_key=
export SECRETS_vapid_public_key=
export SECRETS_s3_endpoint=
export SECRETS_s3_bucket=
export SECRETS_access_key=
export SECRETS_secret_access_key=
export SECRETS_admin_username=
export SECRETS_admin_email=
export SECRETS_smtp_server=
export SECRETS_smtp_from_address=
export SECRETS_smtp_login=
export SECRETS_smtp_password=